<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ImageName</key>
		<string>blush</string>
		<key>Word</key>
		<string>[可爱]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>heart_eyes</string>
		<key>Word</key>
		<string>[花心]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>kissing_heart</string>
		<key>Word</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>flushed</string>
		<key>Word</key>
		<string>[惊讶]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>rage</string>
		<key>Word</key>
		<string>[愤怒]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>sweat</string>
		<key>Word</key>
		<string>[我汗]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>astonished</string>
		<key>Word</key>
		<string>[刺瞎]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>sob</string>
		<key>Word</key>
		<string>[哭]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>grin</string>
		<key>Word</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>scream</string>
		<key>Word</key>
		<string>[害怕]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>confounded</string>
		<key>Word</key>
		<string>[苦逼]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>wink</string>
		<key>Word</key>
		<string>[媚眼]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>smirk</string>
		<key>Word</key>
		<string>[哼哼]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>stuck_out_tongue_winking_eye</string>
		<key>Word</key>
		<string>[鬼脸]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>cold_sweat</string>
		<key>Word</key>
		<string>[生病]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>cry</string>
		<key>Word</key>
		<string>[难过]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>kissing_smiling_eyes</string>
		<key>Word</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>smile</string>
		<key>Word</key>
		<string>[高兴]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>joy</string>
		<key>Word</key>
		<string>[激动]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>persevere</string>
		<key>Word</key>
		<string>[累]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>pensive</string>
		<key>Word</key>
		<string>[忧郁]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>without_mouth</string>
		<key>Word</key>
		<string>[无表情]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>upside_down_face</string>
		<key>Word</key>
		<string>[倒微笑]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>stuck_out_tongue_closed_eyes</string>
		<key>Word</key>
		<string>[哎呀]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>rolling_on_the_floor_laughing</string>
		<key>Word</key>
		<string>[笑翻]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>smiley</string>
		<key>Word</key>
		<string>[大笑]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>smiling_face_with_sunglasses</string>
		<key>Word</key>
		<string>[酷笑]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>sleepy</string>
		<key>Word</key>
		<string>[瞌睡]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>face_with_one_eyebrow_raised</string>
		<key>Word</key>
		<string>[翘眉]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>disappointed</string>
		<key>Word</key>
		<string>[囧]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>satisfied</string>
		<key>Word</key>
		<string>[满意]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>fearful</string>
		<key>Word</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>face_with_rolling_eyes</string>
		<key>Word</key>
		<string>[翻白眼]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>angry</string>
		<key>Word</key>
		<string>[生气]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>grinning_face_with_one_large_and_one_small_eye</string>
		<key>Word</key>
		<string>[鬼脸笑]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>unamused</string>
		<key>Word</key>
		<string>[委屈]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>disappointed_relieved</string>
		<key>Word</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>mask</string>
		<key>Word</key>
		<string>[口罩]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>nerd_face</string>
		<key>Word</key>
		<string>[书呆子]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>face_with_look_of_triumph</string>
		<key>Word</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>thinking_face</string>
		<key>Word</key>
		<string>[思考]</string>
	</dict>
	<dict>
		<key>ImageName</key>
		<string>face_with_monocle</string>
		<key>Word</key>
		<string>[侦探]</string>
	</dict>
    <dict>
        <key>ImageName</key>
        <string>full_moon_with_face</string>
        <key>Word</key>
        <string>[黄月亮脸]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>new_moon_with_face</string>
        <key>Word</key>
        <string>[黑月亮脸]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>eyes</string>
        <key>Word</key>
        <string>[眼睛]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>sparkles</string>
        <key>Word</key>
        <string>[火花]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>sweat_drops</string>
        <key>Word</key>
        <string>[汗]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>zap</string>
        <key>Word</key>
        <string>[闪电]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>ok_hand_sign</string>
        <key>Word</key>
        <string>[OK]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>clapping_hands_sign</string>
        <key>Word</key>
        <string>[鼓掌]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>person_with_folded_hands</string>
        <key>Word</key>
        <string>[拜托]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>thumbs_up_sign</string>
        <key>Word</key>
        <string>[赞]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>waving_hand_sign</string>
        <key>Word</key>
        <string>[不了]</string>
    </dict>
    <dict>
        <key>ImageName</key>
        <string>tada</string>
        <key>Word</key>
        <string>[喝彩]</string>
    </dict>
</array>
</plist>
